@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skeleton-loader {
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
    margin-top: 10px;
  }
  